---
layout: default
---

<div class="site-introduction site-introduction--with-button">
    <h1 class="site-introduction__title">Learn, grow & share together.</h1>
    <h2 class="site-introduction__subtitle">People sharing experinces, passion and knowledge.</h2>
    <h3 class="site-introduction__description">Community driven open source blog.</h3>
    <a href="/contribute" class="button button-primary">Contribute</a>
</div>



<div class="page-content">

    <div class="wrapper">

    <div class="home">

        <ul class="post-list">

            {% for post in paginator.posts %}

            {% assign author = site.data.authors.[post.author] %}

              <li class="post">

              <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">

              {% if author.name %}
                <div class="post__author">
                    <div class="post__author-name">
                        <span>by {{author.name}}</span>
                    </div>

                    <div class="post__author-image" style="background-image: url({{author.photo}});"></div>

                </div>
                  {% endif %}

                <span class="post__meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                {% if post.cover %}
                    <div class="post__cover">
                      <img src="{{post.cover}}" alt="">
                    </div>
                {% endif %}

                <h2 class="post__title">
                  <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>

                 {% if author.name %}
                    <p class="post__blurb">{{post.blurb}}</p>
                 {% endif %}

                 <a class="post__read-more" href="{{ post.url | prepend: site.baseurl }}">Read more...</a>

              </a>

              </li>
            {% endfor %}
         </ul>

        <!-- Pagination links -->
        <div class="pagination">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="button button-navigation">Previous</a>
            {% else %}
            {% endif %}
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="button button-navigation">Next</a>
            {% else %}
            {% endif %}
        </div>

        </div>
    </div>
</div>
