.button{

  color: #ffffff;
  cursor: pointer;
  padding: 10px 16px 8px 16px;
  border-radius: 6px;
  text-decoration: none;

  &.button-primary{
    background: #EA0E4C;
    box-shadow: #ea6e97 0 2px 0 0;
    &:hover{
      background: #ea4e8a;
      color:white;
    }
  }

  &.button-navigation{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #020733;
    color: #020733;
    padding: 15px 35px;
  }


}