---
layout: default
---
{% if page.cover %}
<div class="blog-cover" style="background-image:url({{page.cover}});">
</div>
{% endif %}
<div class="page-content">
    <div class="wrapper">
        <article class="main-post" itemscope itemtype="http://schema.org/BlogPosting">

        {% assign author = site.data.authors.[page.author] %}
            {% if author.photo %}
                <img class="main-post__author-image" src="../../../../{{author.photo}}" alt="">
            {% endif %}

            <header class="post-header">
            <p class="post-meta">

            {% if page.author %} By <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span> {% endif %}  - <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time></p>
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

        <footer class="post-footer">
            <p>Peterborough.tech-community is an free and open source project.</p>
            <p>Do you have something to share? Could you contribute to Peterborough.tech-community.co.uk?</p>
            <p>We are <strong>always</strong> looking for contributors and contributing is <strong>simple.</strong></p>
            <span class="github-contribute"><a href='/contribute' class="button button-primary">Contribute</a></span>
        </footer>

        </article>

        <section>
            {% include _disqus.html %}
        </section>
    </div>
</div>